@use "./shared.scss" as *;

.outputContainer {
  width: 45%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: $bg-light;

  .outputArea {
    min-height: 90%;
    height: auto;
    background: $bg-light;
    margin: 2.5%;
    overflow: hidden;
    overflow-y: show;
    border: 0.25vw solid $border-light;

    h1,
    h2,
    h3,
    p {
      padding: 0;
      margin: 0;
      margin-left: 1vw;
    }
  }
}
